.chat {
  padding: 2rem 0;
  height: 100%;

  &-window {
    background: white;
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &-left {
      flex: 0.35;
      background: white;
      transition: 0.2s ease;
    }

    .show-tab {
      left: 0%;
    }

    &-right {
      flex: 0.65;
      background: #ece8de;
    }
  }
}

@media screen and (min-width: 1000px) {
  .chat-window {
    &-left {
      flex: 0.27;
    }

    &-right {
      flex: 0.73;
    }
  }
}

@media screen and (max-width: 675px) {
  .chat {
    padding: 0.75rem 0;
  }
  .chat-window {
    &-left {
      position: absolute;
      bottom: 0;
      top: 0;
      left: -100%;
      z-index: 11;
      width: 100%;
    }
    &-right {
      flex: 1;
    }
  }
}
