$color-white: #ffffff;
$color-white-background: #f0f0f0;
$color-white-bg-light: #ececec;
$color-white-bg-dark: #e4e4e4;

$color-light-gray: #d3d3d3;

$color-violet: #343038;
$color-violet-light: #413c46a8;
$color-violet-dark: #343038;

$color-green: #008000;
$color-light-green: #5e9c20;

$color-red: #ff0000;

$color-light-blue: #3086a3;
