<div class="login">
  <div class="login-container">
    <lottie-player
      class="image"
      autoplay
      loop
      mode="normal"
      src="assets/user.json"
    >
    </lottie-player>
    <p>Login</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="input-area">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          (input)="emailError = ''"
        />
        <div
          class="error"
          [class.show]="
            emailError.length ||
            (email.invalid && (email.dirty || email.touched))
          "
        >
          <span *ngIf="!emailError.length && email.errors?.required"
            >Email is required</span
          >
          <span *ngIf="email.errors?.email">Enter correct Email</span>
          <span *ngIf="emailError.length">{{ emailError }}</span>
        </div>
      </div>
      <div class="input-area">
        <label for="password">Password</label>
        <input id="password" [type]="passwordType" formControlName="password" />
        <span class="icon" (click)="togglePasswordType()">
          <mat-icon
            >{{ passwordType !== 'text' ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </span>
        <span class="message">
          Your password must be more than 8 characters long, should contain
          at-least 1 Uppercase, 1 Lowercase, 1 Numeric and 1 special character.
        </span>
        <div
          class="error"
          [class.show]="
            password.invalid && (password.dirty || password.touched)
          "
        >
          <span *ngIf="password.errors?.required">Password is required</span>
          <span *ngIf="password.errors?.passwordError"
            >Enter a valid password</span
          >
        </div>
      </div>
      <button
        [class.disabled]="!loginForm.valid"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Submit
      </button>
    </form>
    <span class="forgot-password">Forgot Password ?</span>
  </div>
</div>
