<div class="content__table">
  <div class="content__tableHeader">
    <p><mat-icon>add</mat-icon> Jobs</p>
    <button>New</button>
  </div>
  <div class="content__tableBody">
    <p>All printers are in sync <span>be an error message</span></p>
    <p>
      <a
        href="google"
        #tooltip="matTooltip"
        matTooltip="{{ 'abcd' }}"
        aria-label="tooltip"
        >google</a
      >
      All printers are in sync be an error message
    </p>
    <p>
      <a #tooltip="matTooltip" matTooltip="{{ 'tooltip' }}" aria-label="tooltip"
        >google</a
      >All printers are in sync be an error message
    </p>
  </div>
</div>
