<div class="home">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3" *ngFor="let card of dashboardData">
      <div class="home__card">
        <div class="home__cardIcon" [style.background-color]="card.colorCode">
          <mat-icon>{{ card.icon }}</mat-icon>
        </div>
        <div class="home__cardInfo">
          <h3>{{ card.number }}</h3>
          <p>{{ card.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <app-print-table [paginate]="false"></app-print-table>
    </div>
    <div class="col-12 col-md-6">
      <app-user-table></app-user-table>
    </div>
    <div class="col-12 col-md-6">
      <app-jobs-table></app-jobs-table>
    </div>
  </div>
</div>
