<div class="content__table">
  <div class="content__tableHeader">
    <p><mat-icon>people</mat-icon> Users</p>
    <input
      #searchBox
      type="text"
      placeholder="Search"
      (input)="search(searchBox.value)"
    />
  </div>
  <div class="content__tableBody">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">
            Username
            <span (click)="sort('userName')"
              ><mat-icon>unfold_more</mat-icon></span
            >
          </th>
          <th scope="col">
            Role
            <span (click)="sort('role')"><mat-icon>unfold_more</mat-icon></span>
          </th>
          <th scope="col">
            Account
            <span (click)="sort('account')"
              ><mat-icon>unfold_more</mat-icon></span
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.account }}</td>
        </tr>
        <h3 *ngIf="!allUsers.length">Loading Data ...</h3>
      </tbody>
    </table>
  </div>
</div>
