<div class="home">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3" *ngFor="let item of dashboardData">
      <div class="home__card">
        <div class="home__cardIcon" [style.background-color]="item.colorCode">
          <mat-icon>{{ item.icon }}</mat-icon>
        </div>
        <div class="home__cardInfo">
          <h3>{{ item.number }}</h3>
          <p>{{ item.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <app-print-table [paginate]="false"></app-print-table>
    </div>
    <div class="col-12 col-md-6">
      <app-user-table></app-user-table>
    </div>
    <div class="col-12 col-md-6">
      <app-jobs-table></app-jobs-table>
    </div>
  </div>
</div>
