<div class="home">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="home__card">
        <div class="home__cardIcon">
          <mat-icon>people</mat-icon>
        </div>
        <div class="home__cardInfo">
          <h3>120</h3>
          <p>Users</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="home__card">
        <div class="home__cardIcon">
          <mat-icon>storage</mat-icon>
        </div>
        <div class="home__cardInfo">
          <h3>120</h3>
          <p>Users</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="home__card">
        <div class="home__cardIcon">
          <mat-icon>device_hub</mat-icon>
        </div>
        <div class="home__cardInfo">
          <h3>120</h3>
          <p>Users</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="home__card">
        <div class="home__cardIcon">
          <mat-icon>album</mat-icon>
        </div>
        <div class="home__cardInfo">
          <h3>120</h3>
          <p>Users</p>
        </div>
      </div>
    </div>
  </div>
</div>
