<div class="header">
  <div class="header__left">
    <mat-icon (click)="openMenu()">menu</mat-icon>
    <div class="header__info">
      <p class="header_infoTitle">Dashboard</p>
      <p class="header_infoSubTitle">{{ pageName }}</p>
    </div>
  </div>
  <div class="header__right">
    <div class="header__rightOption" (click)="openDropdown('notifications')">
      <mat-icon class="header__rightIcon">notifications_none</mat-icon>
      <div *ngIf="showDropdown === 'notifications'" class="drop-down">
        <span class="arrow"></span>
        <p class="title">Notifications</p>
        <ul>
          <li
            *ngFor="let notification of notifications"
            (click)="showDropdown = ''"
          >
            {{ notification }}
          </li>
        </ul>
      </div>
    </div>
    <div #cartButton class="header__rightOption" (click)="openDialog()">
      <mat-icon class="header__rightIcon">shopping_bag</mat-icon>
    </div>
    <div class="header__rightOption">
      <img src="assets/user.png" (click)="openDropdown('profile')" alt="" />
      <div *ngIf="showDropdown === 'profile'" class="drop-down">
        <span class="arrow"></span>
        <p class="title">Joe Newman</p>
        <ul>
          <li routerLink="./home">Profile</li>
          <li routerLink="./shop">Shop</li>
          <li routerLink="./printer">My Printers</li>
        </ul>
        <p class="title logout" (click)="openLogoutDialog()">Logout</p>
      </div>
    </div>
  </div>
</div>
