.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  cursor: pointer;
  h1 {
    margin: 0;
  }
  mat-icon {
    color: #00000093;
  }
}

.content {
  max-height: 400px;
  overflow-y: auto;
  padding-top: 1rem;
}

.card {
  display: flex;
  background: white;
  flex-direction: row;
  align-items: center;
  border: none;
  p {
    margin: 0;
  }

  img {
    object-fit: contain;
    width: 70px;
    height: 70px;
  }

  &-data {
    padding-left: 1rem;
    width: 100%;
    cursor: pointer;

    .card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
      p {
        font-size: 1.1rem;
      }

      mat-icon {
        color: #00000093;
      }
    }

    .card-subtitle {
      color: rgb(180, 180, 180);
      font-size: 0.9rem;
    }
  }
}
