@import 'src/assets/scss/mixins';
@import 'src/assets/scss/variables';

@include table-styles();

.content__tableBody {
  p {
    padding: 1rem 10px;
    border-bottom: 1px solid $color-light-gray;
    margin: 0;
    font-weight: 600;

    span {
      color: $color-light-green;
    }

    a {
      text-decoration: none;
      color: $color-light-blue;
    }
  }
}
