@import 'src/assets/scss/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 121;

  a {
    text-decoration: none;
    padding: 16px 20px;
    display: flex;
    align-items: center;

    span {
      color: white;
      margin-left: 1rem;
      font-weight: bold;
      padding-right: 3rem;
    }

    &:hover {
      background: #0000006e;
      box-shadow: inset 12px 0px 0px -8px white;
    }
  }

  .active {
    background: #525252;
  }

  &-icon {
    color: $color-white;
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-violet-light;
  z-index: 11;
  display: none;
}

@media screen and (max-width: 600px) {
  .overlay {
    display: block;
  }
}
